<h1><%= @survey.description %></h1><br>


  <form action="/survey/<%= @survey.id %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="description">Update your survey</label>
    <input name="description" type="text" id="description">
    <button type="submit">Update</button>
  </form>
